<!-- core/templates/core/category_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
<body>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li>
                <h2>{{ category.title }}</h2>
                <img src="{{ category.image.url }}" alt="{{ category.title }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
